<div class="container">
  <div class="row">
    <h2>New Relic TeamView</h2>
      <div class="top-buffer">
        <p>Created to help track ever-growing, ever-changing Product and Engineering teams
          and will initially be used to assist on-boarding of new employees and serve as
          a source of truth for the company as a whole.
        </p>
      <div>
      <div class="top-buffer">
        <h4>Inside each team page you will learn:</h4>
        <ul>
          <li>A team's unique mission and how they operate</li>
          <li>Their members</li>
          <li>Communication channels</li>
        </ul>
        <p>Currently, anyone can view, edit and delete - please only edit your own team's
          information.</p>
        </div>
        <div class="top-buffer">
          <h4>For statuses:</h4>
        </div>
        <div class="top-buffer">
          <div style="width:65%">
            <div class="andon0"><center>Green = all information complete and current</center></div>
            <div class="andon1"><center>Yellow = you can rely on what's there, but it's not complete yet</center></div>
            <div class="andon2"><center>Red = too new, outdated or sorely incomplete</center></div>
          </div>
        </div>
        <div class="top-buffer">
          <h4>Follow-on phases will include:</h4>
          <ul>
            <li>light-weight user authentication and change-log</li>
            <li>team logos</li>
            <li>possible integration with Workday</li>
          </ul>
        </div>
        <div class="top-buffer">
          <h4>If you have ideas for additional functionality, hit a snag <br>or have general feedback,
            please:</h4>
            <ul>
              <li> (preferred) Open a Jira request at:  </li>
              <li>  email:  </li>
            </ul>
          </div>
          <div class="col-sm-7">
            <div class="top-buffer footer navbar-static-bottom">
              <center><h4>Happy Teaming Everyone!</h4></center>
            </div>
          </div>
      </div>
    </div>
