<div class="container">
  <div class="row">
    <h2>New Relic TeamView</h2>
      <div class="top-buffer">
        <p>Created to help track ever-growing, ever-changing Product and Engineering teams
          and will initially be used to assist on-boarding of new employees and serve as
          a source of truth for this type of information.  Other groups have easy access via the API.
        </p>
        </div>
        <div class="top-buffer">
          <dl class="dl-horizontal">
            <dt>Team pages contain:</dt>
            <dd>A team's unique mission and how they operate</dd>
            <dd>Their team members</dd>
            <dd>Standard communication channels</dd>
            </dl>
          </div>
        <div class="top-buffer">
          <dl class="dl-horizontal">
            <dt>Reliability legend:</dt>
              <dd><span class="badge block andon0"> Current and complete</span></dd>
              <dd><span class="badge top-buffer block andon1"> Current but not complete</span></dd>
              <dd><span class="badge top-buffer block andon2"> Not helpful - needs attention</span></dd>
            </dl>
          </div>
        <div class="top-buffer">
          <dl class="dl-horizontal">
          <dt>Potential roadmap:</dt>
            <dd>Light-weight user authentication and change-log</dd>
            <dd>Team logos</dd>
            <dd>Integration with Workday</dd>
          </dl>
        </div>
        <div class="top-buffer">
          <dl class="dl-horizontal">
            <dt>Feedback & ideas:</dt>
            <dd>(Preferred) Jira project:</dd>
            <dd>Email: someone@newrelic.com</dd>
          </dl>
        </div>
        <div class="top-buffer">
          <dl class="dl-horizontal">
            <dt>IMPORTANT:</dt>
            <dd>Currently, anyone can view, edit and delete.</dd>
            <dd>Please only edit your own team's information.</dd>
          </dl>
        </div>
        <div class="col-sm-9">
          <div class="top-buffer footer navbar-static-bottom">
            <center><h4>Happy Teaming Everyone!</h4></center>
          </div>
        </div>
    </div>
</div>
