<h1><center>New Relic TeamView</center></h1>
  <div class="container">
    <div class="top-buffer">
       <%= render partial: 'teams', locals: { teams: @teams } %>
    <div class="row">
        <%= link_to new_team_path, class: "btn btn-large, btn-primary" do %>
          <i class="glyphicon glyphicon-plus"></i> Add New Team
        <% end %>
    </div>
  </div>
</div>
