/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 .top-buffer { margin-top:20px; }

 .andon0 {
   font-style: oblique;
   background-color: #5cb85c;
   color: white
 }

 .andon1 {
   font-style: oblique;
   background-color: #f0ad4e;
   color: black
 }

 .andon2 {
   font-style: oblique;
   background-color: #d9534f;
   color: white
 }

 .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand>img {
  padding: 7px 14px;

}
.navbar-brand {
  height: 80px;
}
.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
label.required:after {
  content:" *";
  color: red
}
